# Adatrap data inspection

In [2]:
import seaborn as sns
import pandas as pd
import geopandas as gpd

%matplotlib inline
sns.set(context='notebook', font='Lucida Sans Unicode', style='white', palette='plasma')

In [3]:
adatrap_table = pd.read_csv('../data/other_format/adatrap/2019-05-19.viajes', sep='|')
adatrap_table

C:\Users\sebam\AppData\Local\Temp\ipykernel_9856\3083853672.py:1: DtypeWarning: Columns (14,80) have mixed types. Specify dtype option on import or set low_memory=False.
  adatrap_table = pd.read_csv('../data/other_format/adatrap/2019-05-19.viajes', sep='|')

,id,nviaje,netapa,etapas,netapassinbajada,ultimaetapaconbajada,tviaje_seg,tviaje_min,dviajeeuclidiana_mts,dviajeenruta_mts,...,tipotransporte_4ta,tesperaest_1era,tesperaest_2da,tesperaest_3era,tesperaest_4ta,escolar,tviaje_en_vehiculo_min,tipo_corte_etapa_viaje,proposito,dviaje_buses
0,1163146,1,2,-,1,0,-,-,-,-,...,-,-,-,-,-,-,7.8167,UE,SINBAJADA,-
1,3819058,1,2,-,0,1,2024.0000,33.7333,6387.7026,10703.0000,...,-,-,-,-,-,-,26.6667,SM2H,OTROS,-
2,3819058,2,2,-,0,1,1685.0000,28.0833,6328.0381,10172.0000,...,-,-,-,-,-,-,22.6333,UE,HOGAR,-
3,3862258,1,2,-,0,1,1718.0000,28.6333,10832.6230,13354.0000,...,-,-,-,-,-,-,25.2500,SM2H,OTROS,-
4,3862258,2,1,-,1,0,-,-,-,-,...,-,-,-,-,-,-,0.0000,UE,SINBAJADA,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1262863,4292611899,1,1,-,0,1,470.0000,7.8333,4443.0762,4457.0000,...,-,-,-,-,-,-,7.8333,SM2H,TRABAJO,-
1262864,4292611899,2,1,-,0,1,593.0000,9.8833,5395.7393,5422.0000,...,-,-,-,-,-,-,9.8833,UE,HOGAR,-
1262865,4293094571,1,2,-,0,1,2216.0000,36.9333,10970.7197,13564.0000,...,-,-,-,-,-,-,32.2167,SM2H,TRABAJO,-
1262866,4293094571,2,2,-,0,1,2353.0000,39.2167,10977.9463,13672.0000,...,-,-,-,-,-,-,36.4833,UE,HOGAR,-
1262867,4293258619,1,1,-,1,0,-,-,-,-,...,-,-,-,-,-,-,0.0000,UE,SINBAJADA,-

In [6]:
for c in adatrap_table.columns:
    print(c)

id
nviaje
netapa
etapas
netapassinbajada
ultimaetapaconbajada
tviaje_seg
tviaje_min
dviajeeuclidiana_mts
dviajeenruta_mts
paraderosubida
paraderobajada
comunasubida
comunabajada
diseno777subida
diseno777bajada
tiemposubida
tiempobajada
periodosubida
periodobajada
tipodia
mediahora
contrato
factorexpansion
tiempomediodeviaje
periodomediodeviaje
mediahoramediodeviaje
tipodiamediodeviaje
t_1era_etapa
d_1era_etapa
tespera_1era_etapa
ttrasbordo_1era_etapa
tcaminata_1era_etapa
dtransbordo_1era_etapa
t_2da_etapa
d_2da_etapa
tespera_2da_etapa
ttrasbordo_2da_etapa
tcaminata_2da_etapa
dtransbordo_2da_etapa
t_3era_etapa
d_3era_etapa
tespera_3era_etapa
ttrasbordo_3era_etapa
tcaminata_3era_etapa
dtransbordo_3era_etapa
t_4ta_etapa
d_4ta_etapa
tespera_4ta_etapa
ttrasbordo_4ta_etapa
tcaminata_4ta_etapa
dtransbordo_4ta_etapa
op_1era_etapa
op_2da_etapa
op_3era_etapa
op_4ta_etapa
tipoop_1era_etapa
tipoop_2da_etapa
tipoop_3era_etapa
tipoop_4ta_etapa
serv_1era_etapa
serv_2da_etapa
serv_3era_etapa
serv_4ta_etapa
linea_metro_subida_1
linea_metro_subida_2
linea_metro_subida_3
linea_metro_subida_4
linea_metro_bajada_1
linea_metro_bajada_2
linea_metro_bajada_3
linea_metro_bajada_4
paraderosubida_1era
paraderosubida_2da
paraderosubida_3era
paraderosubida_4ta
tiemposubida_1era
tiemposubida_2da
tiemposubida_3era
tiemposubida_4ta
zona777subida_1era
zona777subida_2da
zona777subida_3era
zona777subida_4ta
paraderobajada_1era
paraderobajada_2da
paraderobajada_3era
paraderobajada_4ta
tiempobajada_1era
tiempobajada_2da
tiempobajada_3era
tiempobajada_4ta
zona777bajada_1era
zona777bajada_2da
zona777bajada_3era
zona777bajada_4ta
tipotransporte_1era
tipotransporte_2da
tipotransporte_3era
tipotransporte_4ta
tesperaest_1era
tesperaest_2da
tesperaest_3era
tesperaest_4ta
escolar
tviaje_en_vehiculo_min
tipo_corte_etapa_viaje
proposito
dviaje_buses

In [8]:
adatrap_paraderos = adatrap_table[['id', 'nviaje', 'netapa', 'etapas', 'paraderosubida', 'paraderobajada', 'tiemposubida', 'tiempobajada', 
                               'paraderosubida_1era', 'paraderosubida_2da', 'paraderosubida_3era', 'paraderosubida_4ta', 'tiemposubida_1era', 'tiemposubida_2da', 'tiemposubida_3era', 'tiemposubida_4ta',
                               'paraderobajada_1era', 'paraderobajada_2da', 'paraderobajada_3era', 'paraderobajada_4ta', 'tiempobajada_1era', 'tiempobajada_2da', 'tiempobajada_3era', 'tiempobajada_4ta']]
print(adatrap_paraderos.head(100))

          id  nviaje  netapa etapas   paraderosubida   paraderobajada  \
0    1163146       1       2      -       L-1-6-5-PO                -
1    3819058       1       2      -     T-4-12-PO-20     L-17-39-5-NS
2    3819058       2       2      -     L-17-39-5-NS     T-3-12-OP-25
3    3862258       1       2      -    L-27-22-15-SN  VICUNA MACKENNA
4    3862258       2       1      -  VICUNA MACKENNA                -
..       ...     ...     ...    ...              ...              ...
95  18813554       1       1      -    L-32-16-45-OP   E-20-53-OP-130
96  18813554       2       1      -     T-7-53-PO-89    L-32-20-10-PO
97  18813554       3       1      -    L-32-16-45-OP   T-32-156-OP-45
98  18813554       4       1      -   T-32-156-PO-37    L-32-16-40-PO
99  18813618       1       2      -   L-34-40-100-PO        BAQUEDANO

           tiemposubida         tiempobajada paraderosubida_1era  \
0   2019-05-19 16:10:32                    -          L-1-6-5-PO
1   2019-05-19 14:50:24  2019-05-19 15:24:08        T-4-12-PO-20
2   2019-05-19 20:01:32  2019-05-19 20:29:37        L-17-39-5-NS
3   2019-05-19 15:26:05  2019-05-19 15:54:43       L-27-22-15-SN
4   2019-05-19 18:36:56                    -     VICUNA MACKENNA
..                  ...                  ...                 ...
95  2019-05-19 13:49:06  2019-05-19 14:32:24       L-32-16-45-OP
96  2019-05-19 15:27:31  2019-05-19 16:22:39        T-7-53-PO-89
97  2019-05-19 17:36:58  2019-05-19 17:42:57       L-32-16-45-OP
98  2019-05-19 18:12:36  2019-05-19 18:20:46      T-32-156-PO-37
99  2019-05-19 13:21:25  2019-05-19 14:15:13      L-34-40-100-PO

      paraderosubida_2da  ... tiemposubida_3era tiemposubida_4ta  \
0          T-20-73-OP-45  ...                 -                -
1          E-17-12-SN-30  ...                 -                -
2          E-17-12-SN-35  ...                 -                -
3        LA CISTERNA L4A  ...                 -                -
4                      -  ...                 -                -
..                   ...  ...               ...              ...
95                     -  ...                 -                -
96                     -  ...                 -                -
97                     -  ...                 -                -
98                     -  ...                 -                -
99  PLAZA DE PUENTE ALTO  ...                 -                -

   paraderobajada_1era paraderobajada_2da paraderobajada_3era  \
0       T-20-203-NS-10                  -                   -
1        E-17-12-NS-25       L-17-39-5-NS                   -
2        E-17-12-NS-20       T-3-12-OP-25                   -
3       I-26-228-SN-25    VICUNA MACKENNA                   -
4                    -                  -                   -
..                 ...                ...                 ...
95      E-20-53-OP-130                  -                   -
96       L-32-20-10-PO                  -                   -
97      T-32-156-OP-45                  -                   -
98       L-32-16-40-PO                  -                   -
99       E-34-294-PO-5          BAQUEDANO                   -

   paraderobajada_4ta    tiempobajada_1era     tiempobajada_2da  \
0                   -  2019-05-19 16:18:21                    -
1                   -  2019-05-19 15:07:57  2019-05-19 15:24:08
2                   -  2019-05-19 20:08:34  2019-05-19 20:29:37
3                   -  2019-05-19 15:39:50  2019-05-19 15:54:43
4                   -                    -                    -
..                ...                  ...                  ...
95                  -  2019-05-19 14:32:24                    -
96                  -  2019-05-19 16:22:39                    -
97                  -  2019-05-19 17:42:57                    -
98                  -  2019-05-19 18:20:46                    -
99                  -  2019-05-19 13:31:45  2019-05-19 14:15:13

   tiempobajada_3era tiempobajada_4ta
0                  -                -
1                  -                -
2                  -                -
3                  -                -
4                  -                -
..               ...              ...
95                 -                -
96                 -                -
97                 -                -
98                 -                -
99                 -                -

[100 rows x 24 columns]